html {
  font-family: Inter, sans-serif;
}
h1 {
  @apply text-dark-900 text-4xl font-bold;
}
h2 {
  @apply text-dark-900 text-3xl font-bold;
}
h3 {
  @apply text-dark-900 text-2xl font-bold;
}

button,
input {
  @apply focus:!outline-none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  @apply rounded-xl p-2 px-4 border-3 border-dark-900 focus:ring-cyan-300 focus:border-cyan-300;
}
input[type="tel"],
input[type="password"],
input[type="number"] {
  @apply w-11 h-11 p-2 text-center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-text-security: disc;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

.btn {
  @apply px-6 py-2 text-lg font-medium rounded-xl w-min border-3 border-dark-600 hover:bg-cyan-300 transform transition-all active:scale-95 outline-none;
}
.btn-solid {
  @apply px-6 py-2 text-lg font-medium rounded-xl bg-dark-600 text-white border-3 border-dark-600 hover:text-cyan-300 transform transition-all active:scale-95 outline-none;
}

.btn-pale {
  @apply px-6 py-2 rounded-md text-blue-600 border border-blue-600 focus:border-blue-700 transform transition-all active:scale-99 outline-none;
}

.btn-icon {
  @apply p-3 flex rounded-md bg-dark-800 border-2 border-dark-600 cursor-pointer opacity-50 hover:opacity-100 hover:bg-dark-600 transition duration-300 ease-in;
}

.dear-diary {
  @apply font-normal mb-4;
}
