html {
  font-family: Inter, sans-serif;
}
h1 {
  @apply text-dark-900 text-4xl font-bold;
}
h2 {
  @apply text-dark-900 text-3xl font-bold;
}
h3 {
  @apply text-dark-900 text-2xl font-bold;
}

button,
input {
  @apply focus:!outline-none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  @apply rounded-xl p-2 px-4 border-3 border-dark-900 focus:ring-cyan-300 focus:border-cyan-300;
}
input[type="tel"],
input[type="password"],
input[type="number"] {
  @apply w-11 h-11 p-2 text-center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-text-security: disc;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

.btn {
  @apply px-6 py-2 text-lg font-medium rounded-xl w-min border-3 border-dark-600 hover:bg-cyan-300 transform transition-all active:scale-95 outline-none;
}
.btn-solid {
  @apply px-6 py-2 text-lg font-medium rounded-xl bg-dark-600 text-white border-3 border-dark-600 hover:text-cyan-300 transform transition-all active:scale-95 outline-none;
}

.diary-page {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23beaed9' fill-opacity='0.11' fill-rule='evenodd'%3E%3Ccircle cx='0' cy='0' r='0'/%3E%3Ccircle cx='15' cy='15' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.dear-diary {
  @apply font-normal my-4;
}
